<!DOCTYPE html>
<html>
<head>
  <title>League Table</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  

  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
</head>
<body>
<main class="flex flex--row">
  <nav>
    <ul>
       <li><a href="/team">All Teams</a></li>
       <li><a href="/team/new">Add</a></li>
       <li><a href="team/delete">Remove</a></li>
      <li>
        <a href="/match">Matches</a>
      </li>
    </ul>
  </nav>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>